body {
    font-family: 'Roboto', sans-serif;
}
.add-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-search-container>* {
    flex: 1;
    margin: 0 10px;
}

.add-search-container>*:first-child {
    margin-left: 0;
}

.add-search-container>*:last-child {
    margin-right: 0;
}

.loading-text {
    color: blue;
    font-size: 18px;
    text-align: center;
}

.error-text {
    color: red;
    font-size: 18px;
    text-align: center;
}